body {
  margin: 0;
  background-image: url(./images/background.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: #fff;
  min-height: 100vh;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.task-area {
  border: 1px solid lightgray;
}
.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.task-tabs div {
  padding: 1em;
  cursor: pointer;
}

#under-line {
  height: 4px;
  background-color: pink;
  position: absolute;
  width: 64px;
  left: 0;
  top: 56px;
  padding: 0;
}
.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-done {
  text-decoration: line-through;
}
